fastapi[all]
uvicorn[standard]

beanie
motor

aiofiles
arq

celery
redis
gevent
sqlalchemy

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

yt-dlp
mutagen
Pillow

pytest